<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<div th:if="hasError">
    <h3 style="color: red" th:text="${error}"></h3>
</div>

    <h2>Choose course:</h2>
<div th:if="${courses.size() == 0}">
    <h2 style="color: darkgreen">Add course</h2>
</div>

<div class="container mb-4">
    <div class="row">
        <div  class="col-12" >
            <div class="table-responsive">
                <table style="overflow-x: auto; border: 1px solid black;">
                    <thead>
                    <tr>
                        <td><h3>Course</h3></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="course : ${courses}">
                        <td><input form="jas" type="radio" name="course" th:text="${course.getName()}" th:value="${course.getCourseId()}"> </td>
                        <td class="text-right">
                            <form th:action="@{'/courses/delete/{id}' (id=${course.getCourseId()})}" th:method="DELETE">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                        <td class="text-right">
                            <form th:action="@{'/courses/edit/{id}' (id=${course.getCourseId()})}" th:method="GET">
                                <button type="submit">Edit</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td>
                        <form th:method="GET" th:action="@{'/courses/add-form'}">
                            <input value="Add course" type="submit"/>
                        </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form id="jas" th:action="@{'/courses'}" th:method="POST">
                                <input value="Submit" type="submit"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>