<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<div th:if="${hasError}" class="jumbotron text-center">
    <div th:text="${error}" class="text-danger"></div>
</div>
<ul>
    <li th:each="order : ${orders}"><b>OrderId:</b><th:block th:text="${order.orderId}"></th:block> <b>ClientName:</b><th:block th:text="${order.clientName}"></th:block> <b>ClientAddress:</b><th:block th:text="${order.clientAddress}"></th:block></li>
</ul>
<main>
    <h2>Choose balloon color:</h2>
    <form th:method="POST" th:action="@{/selectBalloonSize}">
    <ul>
        <li th:each="balloon:${balloons}"><input type="radio" name="color" th:value="${balloon.getId()}" ><th:block th:text="${balloon.getName()}"></th:block></li>
    </ul>
    <br/>
    <input type="submit" value="submit"/>
    </form>
</main>
</body>
</html>