<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>

    <h2>Choose course:</h2>
    <form th:method="POST" th:action="@{/ListCourses}">
        <input th:each="course: ${courses}" type="radio" name="name" th:text="${course.name}" th:value="${course.getCourseId()}"><br/>
        <input value="submit" type="submit"/>
    </form>
</main>
</body>
</html>